<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
</head>

<body>
<h1>Contact us for a booking today</h1>

<h2>Make a booking</h2>
<div class="container">
	<form action="/action_page.php">
	
	<label for="fname">First Name</label>
	<input type="text" id="fname" name="firstname" placeholder="Your Name.."><br>
	
	<label for="lname">Last Name</label>
	<input type="text" id="lname" name="lastname" placeholder="Your Last Name"><br>
	
	<label for="pnumber">Phone Number</label>
	<input type="text" id="pnumber" name="phone_number" placeholder="Contact Number"><br>
	
	<label for="booking_time">Booking Time</label>
	<select id="booking_time" name="booking_time">
		<option value="08:00-10:30">08:00-10:30</option>
		<option value="11:00-13:30">11:00-13:30</option>
		<option value="14:00-16:30">14:00-16:30</option>
	</select>
		
	<label for="booking_note">Booking Note</label>
	<textarea id="booking_note" name="booking_note" placeholder="Anything you'd like us to know in advance?" style="height:200px"></textarea>
	
	<input type="submit" value="Submit">
	</form>
</div>
	
<body>


</body>
</html>