<!DOCTYPE html>
<html>
<head>
<title>Alana's Makeup</title>
</head>

<body>
<h1>Alana's Beauty Blog</h1>

<script src="add-content.js"></script>
<p>
Welcome to the Home Page for Alana's beauty blog; here Alana shares her thoughts, tips, and tutorials on how to get the latest and hottest makeup looks<br>
<br>
Do you understand what I'm <em>saying?</em> <br>
</p>
<h2>These are some of our favourite products:</h2>
<ul>
  <div id="product1">
   <li> <a href="https://www.sephora.com.au/categories/makeup/eyes/eyeshadow" target="_blank">Eyeshadows</a> </li>
   <li> <a href="https://www.priceline.com.au/cosmetics/eyes/mascara" target="_blank">Mascara</a> </li>
   <li> <a href="https://m.maccosmetics.com.au/products/13854/products/makeup/lips/lipstick" target="_blank">Lipsticks</a> </li>
  </div>
</ul>

<table class="front_collage">
	<tr>
		<th>
			<img src="C:\Users\Josh\Desktop\Alana's_Makeup\Images/brushes2.jpg" height="450" width="500"/ alt="This is a photo of brushes2">
		</th>
		<th>
			<img id="alana1" src="C:\Users\Josh\Desktop\Alana's_Makeup/Images/20170520_200510.jpg" alt="This is a photo of Alana Palin">
		</th>
	</tr>
</table>


</body>
</html>