<!DOCTYPE html>
<html>
<head>
<title>Testimonials</title>
</head>
<link rel="stylesheet" type="text/css" href="css.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<body>
<h1>Testimonials</h1>

<h2>See what our clients have to say </h2>

<table class="testimonial">
	<tr class="testimonial_table_row">
		<th class="testimonial_image">
			<img id="sarah1" src="C:\Users\Josh\Desktop\Alana's_Makeup/Images/afro_chick.jpg"/>
		</th>
		<th>
			<h3>Sarah</h3>
			<p>Anything suspicious? Well... then should we go? Any uh... Cartel news these days? Seems like I'm always reading something or other in the paper. I don't want to talk about it. To you or anyone else. I'm done explaining myself. Gus is dead. We've got work to do. 

Jesse Jackson? Do you even... ah, I see you have a telephone at least. You know that blinking thing I've been calling you on? I will break this, I will BREAK THIS. Damn druggie idiot. Is this what you've been doing the whole time I've been trying to reach you? 

The game has changed. The word is out. And you... are a killer. Apparently it's all over town. Somebody crossed you, you got angry, you crushed their skull with an ATM machine. Who cares! Just as long as it's our competitors who believe it and not the police. </p>
		</th>
	</tr>
	<tr class="testimonial_table_row">
		<th class="testimonial_image">
		<img id="claire1" src="C:\Users\Josh\Desktop\Alana's_Makeup/Images/blond_woman_in_trees.jpg"/>
		</th>
		<th>
			<h3>Claire</h3>
			<p>At first I thought to myself 'Hell yeah, bitch. Now give me a D and shut up so I can go blaze one with my boys.' I don't know. Maybe it was the way he said it, but... it was like he wasn't exactly saying it sucked. He was just asking me honestly, 'Is that all you got?' And for some reason, I thought to myself: 'Yeah, man, I can do better.' 

So I started from scratch. I made another, then another. And by the end of the semester, by like box number five, I had built this thing. You should have seen it. It was insane. I mean, I built it out of Peruvian walnut with inlaid zebrawood. It was fitted with pegs, no screws, I sanded it for days, until it was smooth as glass. Then I rubbed all the wood with tung oil so it was rich and dark. It even smelled good. You know, you put nose in it and breathed in, it was... it was perfect. 

What? Come on! Man, you're smart. You made poison out of beans, yo. Look, we got, we got an entire lab right here. Alright? How about you pick some of these chemicals and mix up some rocket fuel? That way you could just send up a signal flare. Or you make some kind of robot to get us help, or a homing device, or build a new battery, or... wait. No. What if we just take some stuff off of the RV and build it into something completely different? You know, like a... Like a dune buggy. That way, we can just dune buggy or... What? Hey? What is it? What? </p>
		</th>
	</tr>
	<tr class="testimonial_table_row">
		<th class="testimonial_image">	
			<img id="mary1" src="C:\Users\Josh\Desktop\Alana's_Makeup/Images/girl_getting_makeup_done.jpg"/>
		</th>
		<th>
			<h3>Mary</h3>
			<p>Don Eladio, please. I didn't sell anything. I apologize if you are offended by my method of obtaining this meeting. I merely took the initiative. I meant no insult. 

You are done. Fired. Do not show your face at the laundry again. Stay away from Pinkman. Do not go near him. Ever. Are you listening to me? What do you say? For now, but he'll come around. In the meantime there's the matter of your brother-in-law. He is a problem you promised to resolve. You have failed. Now is left to me. To deal with him. If you try to interfere, this becomes a much simpler matter. I will kill your wife, I will kill your son, I will kill your infant daughter. 

Do you know what's happening upstairs? This is all a result of your former partner. Do you understand now? Do you see why this can't continue? There will be an appropriate response. </p>
		</th>	
	</tr>
</table>

</body>
</html>